<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-4.3.1-dist/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-4.3.1-dist/Style.css') }}">
        <meta charset="UTF-8">
        <title>Acceuil</title>
    </head>
    <body>
        <div>
            <h1 class="text-center font-weight-bold">Lucky Numbers</h1>
            <br>
            <h2 class="text-center">Principe du jeu</h2>
            <br>
            <p class="text-center">
                Chaque joueur essaye de compléter le premier son jardin avec des trèfles.<br>
                Mais pour cela, il doit veiller constamment à ce que
                <p class="text-center" style="color: red;">
                    les nombres dans chaque rangée et chaque colonne<br>
                    soient toujours classés dans l’ordre croissant.
                </p>
            </p>
            <br>
            <h2 class="text-center">Préparation du jeu</h2>
            <br>
            <p class="text-center">
                Chaque joueur reçoit un plateau qu’il place devant lui, la coccinelle en bas à droite.<br>
                Tous les trèfles sont placé à coté du joueur.<br>
                La pioches et la défausse sont gérés par le logiciel<br>
                le joueur doit illustrer avec les jetons ce qui se déroule à l'écran.<br>
                <br>
                Complété la diagonale avec les 4 premiers jetons désignés à l'écran.
            </p>
            <div class="row justify-content-center">
                {% for jeton in game.joueur.get_list() %}
                <img src="{{ url_for('static', filename=jeton.image) }}" alt="image_jeton">
                {% endfor %}
            </div> <br>
                <button type="button" class="btn center btn-light" onclick="window.location.href='index'"> Jouer </button>
        </div>
    </body>
</html>