<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-4.3.1-dist/css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap-4.3.1-dist/Style.css') }}">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://x.boardgamearena.net/data/themereleases/210128-1122/css/common.css">
    <link rel="stylesheet" type="text/css" href="https://x.boardgamearena.net/data/themereleases/210128-1122/css/gameserver.css">
    <link rel="stylesheet" type="text/css" href="https://x.boardgamearena.net/data/themereleases/current/css/libraries.css?1">
    <link rel="stylesheet" type="text/css" href="https://x.boardgamearena.net/data/themereleases/current/games/luckynumbers/201211-0005/luckynumbers.css">
    <title>Lucky numbers</title>
</head>

<body>
    <div id="left-side" style="margin-top: 0px;margin-right: 10px;">
        <div id="pagesection_gameview" style="overflow: visible; display: block;">
            <div id="table-wrapper">
                <div id="table">
                    <div id="tilesarea">
                        <div id="table_area_wrapper">
                            <div id="open_table_wrapper">
                                <div class="open-table-zone-topic">Table</div>
                                <div id="open_table_zone" style="position: relative; height: 67px;">
                                    <div id="stack-image"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                                            
                    <div class="col-md-3" style="box-sizing: border-box;text-align: center;width: 320px;margin: 15px;border-radius: 10px;transition: box-shadow .2s;margin-top: 30px;">
                        <h1> Pioche </h1>
                        <div>
                            <button type="button" class="btn btn-dark" onclick="window.location.href ='ActionJoueur.html'">
                                Je pioche
                            </button>
                        </div>
                                    
                        <div class="btn-group" role="group" aria-label="Basic example" style="margin-top: 10px;height: 70px;">
                            {% for jeton in game.joueur.get_list() %}
                            <button>
                                <img src="{{ url_for('static', filename=jeton.image) }}" alt="image_jeton" class="jeton-joueur">
                            </button>
                            {% endfor %}
                        </div>
                    </div>

                    <div id="playertables">
                        <div id="playertable" class="playertable table-number-2 whiteblock" style="position: absolute;right: 10px;">
                            <div id="ladybug" class="table-head-ladybug element-invisible"></div>
                                <div class="playertable-head" style="color:#008000"></div>
                                <div class="playerboard" id="playerboard">
                                    <div id="space_0_0" class="tilespace" style="left: 13px;top: 15px;"></div>
                                    <div id="space_0_1" class="tilespace" style="left: 83px; top: 15px;"></div>
                                    <div id="space_0_2" class="tilespace" style="left: 153px; top: 15px;"></div>
                                    <div id="space_0_3" class="tilespace" style="left: 223px; top: 15px;"></div>
                                    <div id="space_1_0" class="tilespace" style="left: 13px; top: 84px;"></div>
                                    <div id="space_1_1" class="tilespace" style="left: 83px; top: 84px;"></div>
                                    <div id="space_1_2" class="tilespace" style="left: 153px; top: 84px;"></div>
                                    <div id="space_1_3" class="tilespace" style="left: 223px; top: 84px;"></div>
                                    <div id="space_2_0" class="tilespace" style="left: 13px; top: 153px;"></div>
                                    <div id="space_2_1" class="tilespace" style="left: 83px; top: 153px;"></div>
                                    <div id="space_2_2" class="tilespace" style="left: 153px; top: 153px;"></div>
                                    <div id="space_2_3" class="tilespace" style="left: 223px; top: 153px;"></div>
                                    <div id="space_3_0" class="tilespace" style="left: 13px; top: 222px;"></div>
                                    <div id="space_3_1" class="tilespace" style="left: 83px; top: 222px;"></div>
                                    <div id="space_3_2" class="tilespace" style="left: 153px; top: 222px;"></div>
                                    <div id="space_3_3" class="tilespace" style="left: 223px; top: 222px;"></div>
                                </div>
                                <div class="playertable-footer" style="color:#008000"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>